.hero{
    &__landing{
        padding: 215px 15px;
        position: relative;
        box-shadow: rgba(white , 0.25) 0px 2px 5px -1px, rgba(white , 0.3) 0px 1px 3px -1px;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dark-color-000;
            opacity: 0.6;
            z-index: 10;
        }
        
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/landing-cover.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0;
            visibility: hidden;
            transition: all 2.5s ease-in-out 0.5s;
        }
        @include m-breakpoint-up(large){
            padding: 170px 140px;
        }
    }

    &__intro{
        position: relative;
        text-align: left;
        z-index: 50;
        

        .h-text{
            font-size: 1.525rem;
            color: $cyan-color-100;

            @include m-breakpoint-up(medium){
                font-size: 2rem;
            }
        }

        h4{
            color: $cyan-color-300;
            display: inline-block;
            font-weight: 400;
        }
        h1{
            color: $cyan-color-100;
            display: inline-block;
        }
        p{
            
            color: $light-color-100;

            @include m-breakpoint-up(medium){
                font-size: 1.865rem;
            }
        }
        @include m-breakpoint-up(medium){
            text-align: center;
        }
    }

    
    &__service{
        display: flex;

        @include m-breakpoint-down(medium){
            flex-direction: column;
        }
    }

    &__ill{

        flex: 1;
        @include flex-center;

        img{
            width: 100%;
            height: auto;
            
            @include m-breakpoint-up(medium){
                width: 343.5px;
                height: 251.66px;
            }
        }
        
        .dark-ill{
            display: block;
        }

        .light-ill{
            display: none;
        }
    }
    &__description{
        flex: 1;
        margin-top: 2rem;

        h2{
            color: $cyan-color-100;
        }

        @include m-breakpoint-up(large){
            margin-top: 0;
        }
    }
}