.light-theme{
    color: $dark-color-100;

    .heading{
        background-color: $light-color-200;
    
        &__text{
            background-color: $light-color-200;

            border-left: 5px solid $cyan-color-003;
        }
        h1{
            -webkit-text-stroke: $cyan-color-003;
            -webkit-text-stroke-width: 2px;
        }
    }

    .content-section{
        a{
            color: $cyan-color-003 !important;
        }
    
        .seperator{
            background-color: $light-color-200;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            
            h1{
                -webkit-text-stroke: $cyan-color-003;
                -webkit-text-stroke-width: 2px;
            }
        }
    }

    .alt-section-1{
        &__header{
            border-left: 5px solid $cyan-color-003;
    
            background-color: $cyan-color-300;
            background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        }
    
        &__wrapper{
            background-color: $cyan-color-300;
            background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        }
    }

    .nav{
        background-color: $light-color-200;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        &__wrapper{
            background-image: radial-gradient(rgba(0,237,206,.3137254901960784),$light-color-100 90%);
            box-shadow: rgba($dark-color-300, 0.5) 1px 0px 1px 0px;
        }

        &__header{
            .nav-path{
                fill: $cyan-color-002;
            }
            .nav-stroke-path{
                stroke: $cyan-color-002;
            }
        }
    }

    .header{
        background-color: rgba($light-color-200, 0.5);
        backdrop-filter: saturate(180%) blur(20px);
        &__toggle{
    
            .maximize-icon{
                &:hover{
                    .mi-1{
                        border-top:2px solid $cyan-color-003 ;
                        border-left:2px solid $cyan-color-003 ;
                    }
                    .mi-2{
                        border-bottom:2px solid $cyan-color-003 ;
                        border-right:2px solid $cyan-color-003 ;
                    }
    
                    .sni{
                        background-color: $cyan-color-003;
                    }
                }
    
                // Maximize Icon
                .mi-1{
                    border-top:2px solid $dark-color-100 ;
                    border-left:2px solid $dark-color-100 ;
                }
                .mi-2{
                    border-bottom:2px solid $dark-color-100 ;
                    border-right:2px solid $dark-color-100 ;
                }
    
                // Side Nav Icon
                .sni{
                    background-color: $dark-color-100;
                }
            }
    
            .side-nav-icon{
                >span{
                    background-color: $dark-color-100;
                }
            }
        }

        &__logo{
            .main-path{
                fill: $dark-color-100;
            }
        }

        &__mail{
            color: $dark-color-100 !important;
    
            &:hover{
                color: $cyan-color-003 !important;
            }
        }
    }

    .button{
        color: $cyan-color-003;
        border: 1px solid $cyan-color-003;
    
        &::before{
            background-color: rgba($light-color, 0.5);
        }
        &:hover{
            // color: $cyan-color-300;
        }
        &:hover::before{
            transform: scaleX(1);
        }
    
    }
    
    .upwork-icon{
        .upwork-path{
            fill: $cyan-color-003;
            transition: fill 200ms ease-in-out;
        }
    }

    .main{
        background-color: $light-color-200;
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");

        a, a:visited{
            color: $cyan-color-003;
            &:hover{
                color: $cyan-color-100;
            }
        }
    }

    .hero{
        // &__quote{
        //     color: $dark-color-100;
        //     background-color: rgba($cyan-color-300, 0.8);
    
        //     .text-line{
        //         border-bottom: 1px solid $cyan-color-003;
        //     }
        // }
        &__intro{
            .h-text{
                color: $cyan-color-003;
            }
            h4{
                color: $dark-color-100;
            }
            h1{
                color: $cyan-color-003;
            }
        }

        &__img{
            .tn-img{
                border: 3px solid $light-color-100;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }
        }

        &__ill{
            .dark-ill{
                display: none;
            }
            .light-ill{
                display: block;
            }
        }

        &__description{
            h2{
                color: $cyan-color-003;
            }
        }
    }

    .aboutme{    
    }
}