@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --nav-link-indicator: radial-gradient(44.6% 825% at 50% 50%, #1192d3 0%, #ff486d00 100%);
  --background-image-nav-link-indicator: var(--nav-link-indicator);
}

.dark {
  --nav-link-indicator: radial-gradient(44.6% 825% at 50% 50%, #2fe0ac 0%, #ff486d00 100%);
  --background-image-nav-link-indicator: var(--nav-link-indicator);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-btn {
    @apply bg-primary-600 !text-slate-900 hover:!bg-primary-500 dark:hover:!bg-accent-500 w-full dark:!bg-accent-600 dark:text-secondary dark:focus:!ring-accent-800;
  }

  .secondary-btn {
    @apply hover:!text-primary-600 dark:!text-slate-100 dark:hover:!text-accent-600 dark:!bg-slate-800 focus:ring-gray-200 dark:focus:ring-gray-700;
  }
}

@font-face {
  font-family: 'MyanmarSanpya';
  src: url('/fonts/MyanmarSanpya.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1000-109F; /* Unicode range for Myanmar */
}

p {
  color: #3a4856;
}

.dark p {
  color: #d8d8d8 !important;
}

.slick-arrow {
  display: none !important;
  ;
}

.slick-dots .slick-active button::before{
  color: #1192d3 !important;
}

.dark .slick-dots .slick-active button::before{
  color: #2fe0ac !important;
}

.slick-list {
  margin: 0 !important;
}

.fill-background {
  fill: #0f79ac;
}

.dark .fill-background {
  fill: #25b48a;
}

.bg-nav-link-indicator {
    background-image: var(--background-image-nav-link-indicator);
}

.name-gradient {
  background: linear-gradient(90deg, #1192d3, #25b48a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.slick-track {*/
/*  display: flex !important;*/
/*  gap: 1rem;*/
/*}*/