@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-btn {
    @apply bg-primary-600 hover:!bg-primary-500 dark:hover:!bg-accent-500 w-full dark:!bg-accent-600 dark:text-secondary dark:focus:!ring-accent-800;
  }

  .secondary-btn {
    @apply hover:!text-primary-600 dark:hover:!text-accent-600 focus:ring-gray-200 dark:focus:ring-gray-700;
  }
}

p {
  color: #3a4856;
}

.dark p {
  color: #f1f1f1 !important;
}

.slick-arrow {
  display: none !important;
  ;
}

.slick-dots .slick-active button::before{
  color: #1192d3 !important;
}

.dark .slick-dots .slick-active button::before{
  color: #2fe0ac !important;
}