@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  color: #3a4856;
}

.dark p {
  color: #f1f1f1 !important;
}

.slick-arrow {
  display: none !important;
  ;
}

.slick-dots .slick-active button::before{
  color: #1192d3 !important;
}

.dark .slick-dots .slick-active button::before{
  color: #2fe0ac !important;
}