.mdx-wrapper {
    /* Base font styling */
    line-height: 1.75;
    color: #333;
  }
  
  .dark .mdx-wrapper {
    color: #f9f9ff
  }
  
  .mdx-wrapper h1,
  .mdx-wrapper h2,
  .mdx-wrapper h3,
  .mdx-wrapper h4,
  .mdx-wrapper h5,
  .mdx-wrapper h6 {
    color: #1192d3;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }

  .dark .mdx-wrapper h1,
  .dark .mdx-wrapper h2,
  .dark .mdx-wrapper h3,
  .dark .mdx-wrapper h4,
  .dark .mdx-wrapper h5,
  .dark .mdx-wrapper h6 {
    color: #2fe0ac;
  }
  
  .mdx-wrapper h1 {
    font-size: 2.25rem;
  }
  
  .mdx-wrapper h2 {
    font-size: 1.875rem;
  }
  
  .mdx-wrapper h3 {
    font-size: 1.5rem;
  }
  
  .mdx-wrapper h4 {
    font-size: 1.25rem;
  }
  
  .mdx-wrapper h5 {
    font-size: 1.125rem;
  }
  
  .mdx-wrapper h6 {
    font-size: 1rem;
  }
  
  .mdx-wrapper p {
    margin-bottom: 1.25rem;
  }
  
  .mdx-wrapper a {
    color: #1192d3;
    text-decoration: underline;
    font-weight: 500;
  }

  .dark .mdx-wrapper a {
    color: #2fe0ac;
  }
  
  .mdx-wrapper a:hover {
    color: #3b36a9;
    text-decoration: none;
  }
  
  .mdx-wrapper ul,
  .mdx-wrapper ol {
    margin-left: 1.5rem;
    margin-bottom: 1.25rem;
  }
  
  .mdx-wrapper li {
    margin-bottom: 0.5rem;
  }
  
  .mdx-wrapper blockquote {
    border-left: 4px solid #1192d3;
    padding-left: 1rem;
    color: #555;
    margin: 1.5rem 0;
    font-style: italic;
    background-color: #f9f9ff;
  }

  .dark .mdx-wrapper blockquote {
    border-left: 4px solid #2fe0ac;

  }
  
  .mdx-wrapper code {
    background-color: #f3f3ff;
    color: #1192d3;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 14px;
  }

  .dark .mdx-wrapper code {
    background-color: #333;
    color: #2fe0ac;
  }
  
  .mdx-wrapper pre {
    /* background-color: #f3f3ff; */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    line-height: 20px;
  }
  
  .mdx-wrapper pre code {
    background: none;
    color: inherit;
    padding: 0;
  }
  
  .mdx-wrapper img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  
  .mdx-wrapper table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }
  
  .mdx-wrapper th,
  .mdx-wrapper td {
    padding: 0.75rem;
    border: 1px solid #ddd;
  }
  
  .mdx-wrapper th {
    background-color: #f3f3ff;
    color: #1192d3;
    font-weight: bold;
  }

  .dark .mdx-wrapper th {
    background-color: #333;
    color: #2fe0ac;
  }
  
  .mdx-wrapper p{
    font-size: 18px;
  }

  @media (max-width: 560px) {
    .mdx-wrapper p{
      font-size: 16px;
    }
  }

.mdx-wrapper ol {
  list-style-type: disc;
}
  
  .mdx-wrapper rt{
    font-size: 10px;
  }
  
  .mdx-wrapper.show-f rt{
    opacity: 0;
    /* display: none; */
  }
  
  .mdx-wrapper ruby {
    position: relative;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(237, 237, 237);
  }
  
  .mdx-wrapper rt {
    position: absolute;
    top: -15px;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s ease; /* Add a smooth transition */
  }
  
  .mdx-wrapper ruby:hover rt {
    opacity: 1;
  }